body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:100vh;

}
.container, #message{
    background-color: #fff;
    width:350px;
    padding:20px;
    border-radius:6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 12px;
    border:1px solid #ccc;
    outline:0;
    color: #6e6c6c;
    border-radius: 6px;
}
input[type="submit"]{
    background-color: violet;
    border: 1px solid violet;
    border-radius: 6px;
    margin: 5px 0;
    color: #fff;
}
label{
    color: #6e6c6c;
    margin:5px 0;
}
#message{
    margin-top: 10px;
    letter-spacing: 0.5;
    animation: anime 0.5s ease-out;
    display:none;
}

/*n Animation Message*/
@keyframes anime {
    from{
        transform: translateY(100px);
    }
    
}

h3{
    font-size: 16px;
}
.message p {
    margin-left:7px
}

.invalid{
    color:red;
}
.invalid:before{
    position: relative;
    left:-7px;
    content:"✕"
}

/*lorsque les exigences so,t respectées */

.valid{
    color:green;
    position: relative;
    left:-7px;
    content:"✓"
    
}
.valid:before{
    position: relative;
    left:-7px;
    content:"✓"
}